[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
dominate = "*"
enum-compat = "*"
"enum34" = "*"
eventlet = "*"
Flask-Bootstrap = "*"
Flask-SocketIO = "*"
Flask = "*"
greenlet = "*"
itsdangerous = "*"
"Jinja2" = "*"
MarkupSafe = "*"
paho-mqtt = "*"
python-engineio = "*"
python-socketio = "*"
typing = "*"
visitor = "*"
Werkzeug = "*"


[dev-packages]

ptpython = "*"
pdbpp = "*"
