[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
paho-mqtt = "*"
twine = "*"
setuptools = "*"


[dev-packages]

mypy = "*"
sphinx = "*"
tox = "*"
twine = "*"
coverage = "*"
pytest = "*"
